name: Build PHP Image

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * 0'
  push:
    branches:
      - main
    paths:
      - 'php/**'
      - '.github/workflows/php.yml'
      - '.github/workflows/build-image.yml'

jobs:
  build:
    uses: ./.github/workflows/build-image.yml
    strategy:
      fail-fast: false
      matrix:
        version:
          - image: '8.1-fpm-alpine'
          - image: '8.2-fpm-alpine'
          - image: '8.3-fpm-alpine'
          - image: '8.4-fpm-alpine'
            latest: true
    with:
      image-name: php
      image-version: ${{ matrix.version.image }}
      image-is-latest: ${{ matrix.version.latest }}
      docker-hub-owner: erkenes
      ghcr-owner: erkenes
      login-to-dhi-registry: true
