name: Build PHP Image

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * 0'
  push:
    branches:
      - main
    paths:
      - 'php/**'
      - '.github/workflows/php.yml'
      - '.github/workflows/build-image.yml'

env:
  IMAGE_NAME: php
  OWNER_DOCKER_HUB: erkenes
  OWNER_GHCR: erkenes

jobs:
  build:
    uses: ./.github/workflows/build-image.yml
    strategy:
      fail-fast: false
      matrix:
        version:
          - image: '8.1-fpm-alpine'
          - image: '8.2-fpm-alpine'
          - image: '8.3-fpm-alpine'
          - image: '8.4-fpm-alpine'
            latest: true
    with:
      image-name: ${{ env.IMAGE_NAME }}
      image-version: ${{ matrix.version.image }}
      image-is-latest: ${{ matrix.version.latest }}
      docker-hub-owner: ${{ env.OWNER_DOCKER_HUB }}
      ghcr-owner: ${{ env.OWNER_GHCR }}
      login-to-dhi-registry: true
