name: Build PHP Image

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * 0'
  push:
    branches:
      - main
    paths:
      - 'php/**'
      - '.github/workflows/php.yml'
      - '.github/workflows/build-image.yml'

jobs:
  build:
    uses: ./.github/workflows/build-image.yml
    strategy:
      fail-fast: false
      matrix:
        version:
          - '8.1-fpm-alpine'
          - '8.2-fpm-alpine'
          - '8.3-fpm-alpine'
          - '8.4-fpm-alpine'
    with:
      image-name: php
      image-version: ${{ matrix.version }}
      docker-hub-owner: erkenes
      ghcr-owner: erkenes
      login-to-dhi-registry: false
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
