name: Build PHP Image

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * 0'
  push:
    branches:
      - main
    paths:
      - 'php/**'
      - '.github/workflows/php.yml'
      - '.github/workflows/build-image.yml'

env:
  IMAGE_NAME: php
  DOCKER_HUB_OWNER: erkenes
  GHCR_OWNER: erkenes

jobs:
  build:
    uses: ./.github/workflows/build-image.yml
    strategy:
      fail-fast: false
      matrix:
        version:
          - image: '8.1-fpm-alpine'
          - image: '8.2-fpm-alpine'
          - image: '8.3-fpm-alpine'
          - image: '8.4-fpm-alpine'
            latest: true
    with:
      image-name: ${{ env.IMAGE_NAME }}
      image-version: ${{ matrix.version }}
      image-is-latest: ${{ matrix.latest }}
      docker-hub-owner: ${{ env.DOCKER_HUB_OWNER }}
      ghcr-owner: ${{ env.GHCR_OWNER }}
      login-to-dhi-registry: true
